/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

footer .footer2 div ul, header .container nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 473px;
}

footer .footer2 div ul a.page, header .container nav ul a.page {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
}

footer .footer2 div ul a, header .container nav ul a {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
}

footer .footer2 div ul a.page:hover, footer .footer2 div ul a:hover, header .container nav ul a.page:hover, header .container nav ul a:hover {
  cursor: pointer;
}

section.contactsection div.forms > div button, section.section1 > div.container > .texts > .buttons .b1 h6, section.section1 > div.container > .texts > .buttons .b1 {
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
  -webkit-transition-delay: 0.2;
          transition-delay: 0.2;
}

header {
  background-color: #1C1E53;
  padding: 16px 0;
}
header .container {
  max-width: 1280px;
  width: 95%;
  margin: 0 auto;
  width: 98%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .container img {
  height: 58.4px;
  width: 94.4px;
  -o-object-fit: contain;
     object-fit: contain;
}
header .container img:hover {
  cursor: pointer;
}
header .container nav {
  width: 706px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 860px) {
  header .container nav {
    width: auto;
  }
}
header .container nav > button {
  width: 185px;
  height: 60px;
  border-radius: 41px;
  border: 2px solid rgba(244, 246, 252, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #1C1E53;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-delay: 0.08s;
          transition-delay: 0.08s;
}
@media (max-width: 860px) {
  header .container nav > button {
    display: none;
  }
}
header .container nav > button a {
  color: var(--white, #FFF);
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
}
header .container nav button:hover {
  cursor: pointer;
}
header .container nav .fa-bars {
  display: none;
}
@media (max-width: 860px) {
  header .container nav .fa-bars {
    display: inline-block;
  }
}
@media (max-width: 860px) {
  header .container nav ul {
    display: none;
  }
}
header .container nav ul a.page {
  color: var(--white, #FFF);
}
header .container nav ul a {
  color: #BBBBCB;
}
section.section1 {
  background-color: #1C1E53;
  padding: 126px 0 128px;
}
section.section1 > div.container {
  max-width: 1280px;
  width: 95%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
section.section1 > div.container > .texts {
  width: 582px;
}
section.section1 > div.container > .texts h1 {
  color: var(--white, #FFF);
  font-family: "Poppins", sans-serif;
  font-size: 54px;
  font-style: normal;
  font-weight: 600;
  line-height: 74px;
  margin-bottom: 24px;
}
section.section1 > div.container > .texts p {
  color: var(--white, #FFF);
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 48px;
}
section.section1 > div.container > .texts > .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 408px;
}
section.section1 > div.container > .texts > .buttons .b1 {
  background-color: var(--yellow, #FCD980);
  width: 230px;
  height: 64px;
  border-radius: 41px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
section.section1 > div.container > .texts > .buttons .b1 h6 {
  color: #1B1C2B;
  font-family: "Manrope", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
}
section.section1 > div.container > .texts > .buttons .b1:hover {
  cursor: pointer;
  background-color: #FDE4A6;
}
section.section1 > div.container > .texts > .buttons .b1:hover h6 {
  color: #585858;
}
section.section1 > div.container > .texts > .buttons .b2 {
  background-color: #1C1E53;
  width: 138px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
section.section1 > div.container > .texts > .buttons .b2 h6 {
  color: var(--white, #FFF);
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
}
section.section1 > div.container > .texts > .buttons .b2:hover {
  cursor: pointer;
}
section.section1 > div.container .photo {
  width: 638px;
  height: 362px;
  border: 4px solid black;
}

section.section2 {
  background-color: var(--grey, #F4F6FC);
  padding: 128px 0 129px;
  margin-bottom: 128px;
}
section.section2 > div.container {
  max-width: 1280px;
  width: 95%;
  margin: 0 auto;
}
section.section2 > div.container > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1203px;
  width: 100%;
}
section.section2 > div.container > div > div.title {
  width: 405px;
  height: 184px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
section.section2 > div.container > div > div.title h6 {
  color: var(--dark-blue, #282938);
  font-family: "Poppins", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 64px;
}
section.section2 > div.container > div > div.title p {
  color: var(--dark-blue, #282938);
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  opacity: 0.6999999881;
}
section.section2 > div.container > div > div.title > div {
  width: 215px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
section.section2 > div.container > div > div.title > div h4 {
  color: #2405F2;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
}
section.section2 > div.container > div > div.title > div .fa-solid {
  color: #2405F2;
}
section.section2 > div.container > div > div.title div.link:hover {
  cursor: pointer;
}
section.section2 > div.container > div > div.title div.link:hover h4 {
  color: #1C1E53;
}
section.section2 > div.container > div > div.title div.link:hover .fa-solid {
  color: #1C1E53;
}
section.section2 > div.container > div div.goals {
  width: 631px;
  height: 404px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
section.section2 > div.container > div div.goals > div {
  width: 300px;
  height: 178px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
section.section2 > div.container > div div.goals > div .icon {
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #2405f2;
  border-radius: 8px;
}
section.section2 > div.container > div div.goals > div .icon h1 {
  position: absolute;
  z-index: 100;
  color: var(--white, #FFF);
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
}
section.section2 > div.container > div div.goals > div div.texts {
  height: 112px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
section.section2 > div.container > div div.goals > div div.texts h3 {
  height: 48px;
  color: var(--dark-blue, #282938);
  font-family: "Poppins", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 48px;
}
section.section2 > div.container > div div.goals > div div.texts p {
  color: var(--dark-blue, #282938);
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}
section.section2 > div.container > div div.goals .bottomdiv {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

section.section3 div.container {
  max-width: 1280px;
  width: 95%;
  margin: 0 auto;
}
section.section3 div.container h5 {
  color: var(--dark-blue, #282938);
  font-family: "Poppins", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 64px;
  margin-bottom: 64px;
}
section.section3 div.container div.blogs {
  width: 100%;
  height: 581px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
section.section3 div.container div.blogs div.column {
  width: 405px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
section.section3 div.container div.blogs div.column div.photo {
  width: 100%;
  height: 285px;
  border: 2px solid black;
}
section.section3 div.container div.blogs div.column div.text {
  width: 100%;
  height: 224px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
section.section3 div.container div.blogs div.column div.text h6 {
  color: var(--dark-blue, #282938);
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  opacity: 0.6999999881;
}
section.section3 div.container div.blogs div.column div.text h1 {
  color: var(--dark-blue, #282938);
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 36px;
}
section.section3 div.container div.blogs div.column div.text p {
  color: var(--dark-blue, #282938);
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  opacity: 0.6999999881;
}
section.section3 div.container div.blogs div.column div.arrow {
  width: 123px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
section.section3 div.container div.blogs div.column div.arrow h3 {
  color: var(--dark-blue, #282938);
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
}
section.section3 div.container div.blogs div.column div.arrow .fa-solid {
  color: var(--dark-blue, #282938);
}
section.section3 div.container div.blogs div.column div.arrow:hover {
  cursor: pointer;
}

section.p2section1 {
  margin: 128px 0 128px;
}
section.p2section1 > div.container {
  max-width: 1280px;
  width: 95%;
  margin: 0 auto;
}
section.p2section1 > div.container > div.texts {
  background-color: #F4F5F5;
  padding: 80px 109px 80px 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
}
section.p2section1 > div.container > div.texts h2 {
  color: var(--dark-blue, #282938);
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  margin-bottom: 4px;
}
section.p2section1 > div.container > div.texts > div {
  width: 515px;
}
section.p2section1 > div.container > div.texts > div h1 {
  color: var(--dark-blue, #282938);
  font-family: "Poppins", sans-serif;
  font-size: 38px;
  font-style: normal;
  font-weight: 600;
  line-height: 56px;
  margin-bottom: 16px;
}
section.p2section1 > div.container > div.texts > div p {
  color: var(--dark-blue, #282938);
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  width: 100%;
}
section.p2section1 > div.container > div.photo {
  width: 100%;
  height: 340px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border: 2px solid black;
}

section.p2section2 {
  background-color: var(--accent, #EEF4FA);
  padding: 128px 0 128px;
}
section.p2section2 > div.container {
  max-width: 1280px;
  width: 95%;
  margin: 0 auto;
}
section.p2section2 > div.container > div.card {
  margin-bottom: 96px;
}
section.p2section2 > div.container > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
section.p2section2 > div.container > div > div.text {
  width: 623px;
}
section.p2section2 > div.container > div > div.text h6 {
  color: var(--dark-blue, #282938);
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  margin-bottom: 16px;
}
section.p2section2 > div.container > div > div.text h1 {
  color: var(--dark-blue, #282938);
  font-family: "Poppins", sans-serif;
  font-size: 38px;
  font-style: normal;
  font-weight: 600;
  line-height: 56px;
  margin-bottom: 16px;
}
section.p2section2 > div.container > div > div.text p {
  color: var(--dark-blue, #282938);
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  opacity: 0.6999999881;
  width: 100%;
}
section.p2section2 > div.container > div > div.image {
  width: 515px;
  height: 336px;
  border: 2px solid black;
}

section.contactsection {
  padding: 128px 0 128px;
}
section.contactsection div.title {
  max-width: 1280px;
  width: 95%;
  margin: 0 auto;
  max-width: 562px;
  width: 95%;
  margin-bottom: 64px;
}
section.contactsection div.title h1 {
  color: var(--dark-blue, #282938);
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 64px;
}
section.contactsection div.title h5 {
  color: var(--dark-blue, #282938);
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}
section.contactsection div.forms {
  max-width: 1280px;
  width: 95%;
  margin: 0 auto;
  max-width: 1061px;
  padding: 55px 0 69px;
  background-color: var(--grey, #F4F6FC);
  border-radius: 12px;
}
section.contactsection div.forms > div {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 908px;
  width: 97%;
}
section.contactsection div.forms > div form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 24px;
}
section.contactsection div.forms > div form label {
  color: #000;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
  margin-bottom: 6px;
}
section.contactsection div.forms > div form ::-webkit-input-placeholder {
  color: #000;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}
section.contactsection div.forms > div form ::-moz-placeholder {
  color: #000;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}
section.contactsection div.forms > div form :-ms-input-placeholder {
  color: #000;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}
section.contactsection div.forms > div form ::-ms-input-placeholder {
  color: #000;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}
section.contactsection div.forms > div form ::placeholder {
  color: #000;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}
section.contactsection div.forms > div form input {
  width: 438px;
  padding: 18px 32px;
  gap: 10px;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.12);
}
section.contactsection div.forms > div form.textarea {
  width: 100%;
  margin-bottom: 32px;
}
section.contactsection div.forms > div form.textarea textarea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 138px;
  padding: 18px 32px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 10px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  resize: none;
}
section.contactsection div.forms > div button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 254px;
  height: 64px;
  padding: 15px 51px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  background-color: var(--dark-blue, #282938);
  border-radius: 41px;
}
section.contactsection div.forms > div button a {
  color: var(--grey, #F4F6FC);
  font-family: "Manrope", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
}
section.contactsection div.forms > div button:hover {
  cursor: pointer;
  background: #535460;
}

section.artsect2 {
  margin-bottom: 64px;
}
section.artsect2 div.container {
  max-width: 1280px;
  width: 95%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
section.artsect2 div.container h5 {
  color: var(--dark-blue, #282938);
  font-family: "Poppins", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 64px;
  margin-bottom: 64px;
}
section.artsect2 div.container div.blogs {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
section.artsect2 div.container div.blogs div.column {
  width: 405px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 64px;
}
section.artsect2 div.container div.blogs div.column div.photo {
  width: 100%;
  height: 285px;
  border: 2px solid black;
}
section.artsect2 div.container div.blogs div.column div.text {
  width: 100%;
  height: 224px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
section.artsect2 div.container div.blogs div.column div.text h6 {
  color: var(--dark-blue, #282938);
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  opacity: 0.6999999881;
}
section.artsect2 div.container div.blogs div.column div.text h1 {
  color: var(--dark-blue, #282938);
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 36px;
}
section.artsect2 div.container div.blogs div.column div.text p {
  color: var(--dark-blue, #282938);
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  opacity: 0.6999999881;
}
section.artsect2 div.container div.blogs div.column div.arrow {
  width: 123px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
section.artsect2 div.container div.blogs div.column div.arrow h3 {
  color: var(--dark-blue, #282938);
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
}
section.artsect2 div.container div.blogs div.column div.arrow .fa-solid {
  color: var(--dark-blue, #282938);
}
section.artsect2 div.container div.blogs div.column div.arrow:hover {
  cursor: pointer;
}

section.artsect1 {
  margin: 128px 0 128px;
}
section.artsect1 > div {
  max-width: 1280px;
  width: 95%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
section.artsect1 > div h1 {
  color: var(--dark-blue, #282938);
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 64px; /* 133.333% */
  margin-bottom: 16px;
}
section.artsect1 > div > div.texts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 359px;
  width: 97%;
  margin-bottom: 32px;
}
section.artsect1 > div > div.texts h6 {
  color: var(--dark-blue, #282938);
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px; /* 175% */
  opacity: 0.8700000048;
}
section.artsect1 > div > div.texts h5 {
  color: var(--dark-blue, #282938);
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px; /* 175% */
}
section.artsect1 > div > div.photo {
  border: 2px solid black;
  width: 100%;
  height: 477px;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
  margin-bottom: 48px;
}
section.artsect1 > div p {
  max-width: 831px;
  width: 97%;
  color: var(--dark-blue, #282938);
  font-family: "Poppins", sans-serif;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 175% */
  margin-bottom: 16px;
  opacity: 0.6999999881;
}
section.artsect1 > div h2 {
  color: #2405F2;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 175% */
}
section.artsect1 > div h2:hover {
  cursor: pointer;
  color: #1C1E53;
}

footer {
  margin-top: 100px;
  background-color: #1C1E53;
  padding-top: 101px;
}
footer > .container {
  max-width: 1280px;
  width: 95%;
  margin: 0 auto;
}
footer > .container > .footerdiv1 {
  max-width: 1058px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
footer > .container > .footerdiv1 .wrap1 {
  width: 517px;
}
footer > .container > .footerdiv1 .wrap1 img {
  height: 35px;
  width: 118px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 23.59px;
}
footer > .container > .footerdiv1 .wrap1 h5 {
  color: var(--white, #FFF);
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  opacity: 0.8000000119;
  width: 399px;
  height: 56px;
  margin-bottom: 86px;
}
footer > .container > .footerdiv1 .wrap1 > div {
  width: 100%;
  height: 95px;
  background-color: var(--yellow, #FCD980);
  padding: 18px 0 17px 37px;
}
footer > .container > .footerdiv1 .wrap1 > div div {
  height: 61px;
  width: 181px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: inline-block;
  margin-right: 40px;
}
footer > .container > .footerdiv1 .wrap1 > div div h4 {
  color: var(--dark-blue, #282938);
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px; /* 177.778% */
}
footer > .container > .footerdiv1 .wrap1 > div div a {
  color: var(--dark-blue, #282938);
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  opacity: 0.8000000119;
}
footer > .container > .footerdiv1 .wrap2 {
  height: 206px;
  width: 399px;
}
footer > .container > .footerdiv1 .wrap2 h2 {
  color: #FFF;
  font-family: "Poppins", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 64px;
  margin-bottom: 14px;
}
footer > .container > .footerdiv1 .wrap2 p {
  width: 100%;
  height: 84px;
  color: var(--grey, #F4F6FC);
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  opacity: 0.8000000119;
  margin-bottom: 28px;
}
footer > .container > .footerdiv1 .wrap2 > .medias .fa-brands {
  margin-right: 26.67px;
}
footer > .container > .footerdiv1 .wrap2 > .medias .fa-brands:hover {
  cursor: pointer;
}
footer .footer2 {
  width: 100%;
  height: 92px;
  background-color: #FFFFFF;
}
footer .footer2 div {
  max-width: 1280px;
  width: 95%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}
footer .footer2 div h5 {
  color: #282938;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
}
footer .footer2 div ul a.page {
  color: var(--dark-blue, #282938);
}
footer .footer2 div ul a {
  color: var(--dark-blue, #282938);
}/*# sourceMappingURL=global.css.map */