$headerbackcolor: #1C1E53;
$dark-blue: var(--dark-blue, #282938);
$grey: var(--grey, #F4F6FC);
$yellow: var(--yellow, #FCD980);
$hyellow: #FDE4A6;
$white:var(--white, #FFF);
$hbuttontext:#585858;
$royalblue:#2405F2;
$hroyalblue: #1C1E53;
$p2section2bgcolor: var(--accent, #EEF4FA);
$font: 'Poppins', sans-serif;
$font2: 'Manrope', sans-serif;