section.contactsection {
    padding: 128px 0 128px;
    
    div.title {
        @include container;
        max-width: 562px;
        width: 95%;
        margin-bottom: 64px;
        @media (max-width:600px) {
            max-width: 511px;
        }
       
        h1 {
            color: $dark-blue;
            text-align: center;
            font-family: $font;
            font-size: 48px;
            font-style: normal;
            font-weight: 600;
            line-height: 64px; /* 133.333% */
            @media (max-width:600px) {
                font-size: 44px;
                line-height: 59px;
            }
            @media (max-width:485px) {
                font-size: 40px;
                line-height: 53.4px;
            }
        }
        h5 {
            color: $dark-blue;
            text-align: center;
            font-family: $font;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 28px; 
            @media (max-width:600px) {
                font-size: 14px;
                line-height: 24.5px;
                width: 100%;
            }
            @media (max-width:485px) {
                font-size: 12px;
                line-height: 21px;
            }
        }
    }
    div.forms {
        @include container;
        max-width: 1061px;
        padding: 55px 0 69px;    
        background-color: $grey;
        border-radius: 12px;
        @media (max-width:976px) {
            max-width: 511px;
           width: 97%;
        }
        
        & > div {
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            max-width: 908px;
            width: 97%;
            @media (max-width:976px) {
                justify-content: center;
            }
            form {
                display: flex;
                flex-direction: column;
                margin-bottom: 24px;
                @media (max-width:976px) {
                    width: 100%;
                }
                
                label {
                    color: #000;
                    font-family: $font;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 32px; 
                    margin-bottom: 6px;
                }
                ::placeholder {
                    color: #000;
                    font-family: $font;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 28px; 
                }
                input {
                    width: 438px;
                    padding: 18px 32px;
                    gap: 10px;
                    border-radius: 8px;
                    border: 1px solid rgba(0, 0, 0, 0.12);
                    @media (max-width:976px) {
                        width: 100%;
                    }
                }
             
            }
            form.textarea {
                width: 100%;
                margin-bottom: 32px;
                textarea {
                    display: flex;
                    width: 100%;
                    height: 138px;
                    padding: 18px 32px;
                    align-items: flex-start;
                    gap: 10px;
                    flex-shrink: 0;
                    border-radius: 8px;
                    border: 1px solid rgba(0, 0, 0, 0.12);
                    resize: none;
                }
            }
            button {
                display: flex;
                width: 254px;
                height: 64px;
                padding: 15px 51px;
                justify-content: center;
                align-items: center;
                gap: 10px;
                background-color: $dark-blue;
                border-radius: 41px;
                @extend %hoverbutton;
                a {
                    color: $grey;
                    font-family: $font2;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 32px; 
                }
            }
            button:hover {
                cursor: pointer;
                background: #535460;
            }
        }
       
    }
}