header {
    background-color:  $headerbackcolor;
    padding: 16px 0;
    .container {       
        @include container; 
        width: 100%;    
        display: flex;
        justify-content: space-between;
        align-items: center;
        img {
            height: 58.4px;
            width: 94.4px;
            object-fit: contain;
        }
        img:hover {
            cursor: pointer;
        }
        nav {
            width: 706px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            & > button {
                width: 185px;
                height: 60px;
                border-radius: 41px;
                border:2px solid rgba(244, 246, 252, 0.20);
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: #1C1E53;
                transition-duration: 0.3s;
                transition-delay: 0.08s;
                a {
                    color: $white;
                    font-family: $font;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 28px;
                }
            }
            button:hover {
                cursor: pointer;
            }
            ul {
                @extend %ul;
                a.page {
                    @extend %arefresh;
                    color: $white;
            
                }
                a {
                   @extend %aswitch;
                   color: #BBBBCB;
                }
                a:hover {
                    @extend %hovereda;
                } 
                a.page:hover {
                   @extend %hovereda;
                }
            }
        }
    }
}