section.section3 {
    div.container {
        @include container;
        h5 {
            color: $dark-blue;
            font-family: $font;
            font-size: 48px;
            font-style: normal;
            font-weight: 600;
            line-height: 64px; 
            margin-bottom: 64px;
        }
        div.blogs {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            div.column {
                width: 405px;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                @media (max-width:1315px) {
                    margin:0 15px 16px 0;
                }
                img {
                    position: relative;
                    width: 100%;
                    height: 285px;
                    
                    object-fit: cover;
                }
                div.text {
                    width: 100%;
                    height: 224px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    h6 {
                        color: $dark-blue;
                        font-family: $font;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 28px; 
                        opacity: 0.699999988079071;
                    }
                    h1 {
                        color: $dark-blue;
                        font-family: $font;
                        font-size: 24px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 36px; 
                    }
                    p {
                        color: $dark-blue;
                        font-family: $font;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 28px; 
                        opacity: 0.699999988079071;
                    }
                }
                div.arrow {
                    width: 123px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    h3 {
                        color: $dark-blue;
                        font-family: $font;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 28px; 
                    }
                    .fa-solid {
                        color: $dark-blue;
                    }
                }
                div.arrow:hover {
                    cursor: pointer;
                }
            }
        }
    }
}