section.section2 {
    background-color: $grey;
    padding: 128px 0 129px;
    margin-bottom: 128px;
    width: 100%;
    
    & > div.container {
        @include container;
        & > div {
            display: flex;
            justify-content: space-between;
            max-width:1203px;
            width: 100%;
            height: 100%;
            @media (max-width:1140px) {
                flex-direction: column-reverse;
                align-items: center;
                justify-content: center;
            }
           
            & > h6 {
                color: $dark-blue;
                font-family: $font;
                font-size: 48px;
                font-style: normal;
                font-weight: 600;
                line-height: 64px;
                display: none; 
                @media (max-width:1140px) {
                    display: inline-block;
                    margin-bottom: 16px;
                    text-align: center;
                }
              
            }
            & >  p {
                color: $dark-blue;
                font-family: $font;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 28px;
                max-width:405px;
                width: 100%;
                opacity: 0.699999988079071;
                display: none;
                @media (max-width:1140px) {
                    display: inline-block;
                    margin-bottom: 16px;
                    text-align: center;
                }
               
            }
            & > div.title {
                max-width: 405px;
                width: 100%;
                height: 184px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                @media (max-width:1140px) {
                    width: auto;
                    height: auto;
                }

                h6 {
                    color: $dark-blue;
                    font-family: $font;
                    font-size: 48px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 64px;
                    @media (max-width:1140px) {
                        display: none;
                    }
                }
                p {
                    color: $dark-blue;
                    font-family: $font;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 28px;
                    opacity: 0.699999988079071;
                    @media (max-width:1140px) {
                        display: none;
                    }
                }
                & > div.link {
                    max-width: 215px;
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    
                    
                    h4 {
                        color: $royalblue;
                        font-family: $font;
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 32px;
                        @media (max-width:1140px) {
                            margin-right: 8px;
                        }
                    }
                    .fa-solid {
                        color: $royalblue;
                    }
                }
                div.link:hover {
                    cursor: pointer;
                    h4{
                        color: $hroyalblue;
                    }
                    .fa-solid {
                        color: $hroyalblue;
                    }
                }
            } 
            div.goals {
                max-width: 631px;
                width: 100%;
                height: 404px;
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                height: 100%;
                @media (max-width:530px) {
                    justify-content: center;
                }

                & > div {
                    max-width: 300px;
                    width: 80%;
                    height: 178px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                   
                    @media (max-width:640px) {
                        max-width: 250px;
                        height: 100%;
                        margin-bottom: 16px;
                    }
                    
                    .icon {
                        width: 50px;
                        height: 50px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background-color: #2405f2;
                        border-radius: 8px;
                        h1 {
                            position: absolute;
                            z-index: 100;
                            color: $white;
                            font-family: $font;
                            font-size: 18px;
                            font-style: normal;
                            font-weight: 500;
                            line-height: 32px; 
                        }
                    } 
                    div.texts {
                        height: 112px;
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        h3 {
                            height: 48px;
                            color: $dark-blue;
                            font-family: $font;
                            font-size: 32px;
                            font-style: normal;
                            font-weight: 500;
                            line-height: 48px;
                        }
                        p {
                            color: $dark-blue;
                            font-family: $font;
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 28px; 
                        }
                    }                  
                }
                .bottomdiv {
                    align-self: flex-end;
                    @media (max-width:1140px) {
                        margin-bottom: 32px;
                    }
                    
                }
            }
        }
    }
}