section.section1 {
    background-color: $headerbackcolor;
    padding: 126px 0 128px;
    @media (max-width: 440px) {
        padding: 63px 0 64px;
    }
    & > div.container {
        @include container;
        display: flex;
        justify-content: space-between;
        @media (max-width:1130px) {
            flex-direction: column;
            align-items: center;
        }
      & > .texts {
        max-width: 582px;
        width: 100%;
        margin-bottom: 40px;
        margin-right: 16px;
        h1 {
            color: $white;
            font-family: $font;
            font-size: 54px;
            font-style: normal;
            font-weight: 600;
            line-height: 74px;
            margin-bottom: 24px; 
            @media (max-width:1135px) {
                width: 100%;
            }
            @media (max-width:440px) {
                font-size: 45px;
                line-height: 60px;
            }
            @media (max-width:440px) {
                font-size: 27px;
                line-height: 37px;
                margin-bottom: 14px;
            }
        }
        p {
            color: $white;
            font-family: $font;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 28px; 
            margin-bottom: 48px;
            @media (max-width: 440px) {
                margin-bottom: 30px;
            }
        }
        & > .buttons {
            display: flex;
            justify-content: space-between;
            max-width: 408px;
            width: 100%;
            @media (max-width: 440px) {
                flex-direction: column;
            }
            .b1 {
                background-color: $yellow;
                max-width: 230px;
                width: 100%;
                height: 64px;
                border-radius: 41px;
                display:flex;
                justify-content: center;
                align-items: center;
                @extend %hoverbutton;
                @media (max-width:440px) {
                    max-width: 190px;
                    height: 52.9px;
                }
                h6 {
                    color: #1B1C2B;
                    font-family: $font2;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 32px;
                    @extend %hoverbutton;
                    @media (max-width:440px) {
                        font-size: 15px;
                    }
                } 
            }
            .b1:hover {
                cursor: pointer;
                background-color: $hyellow;
                h6 {
                    color: $hbuttontext;
                }
            }
            .b2 {
                background-color: $headerbackcolor;
                width: 138px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                @media (max-width:1135px) {
                    max-width: 230px;
                    width: 100%;
                    height: 64px;
                    align-items: center;
                    justify-content: center;
                }
                @media (max-width:440px) {
                    max-width: 190px;
                    height: 52.9px;
                }
                h6 {
                    color: $white;
                    font-family: $font;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 28px; 
                    @media (max-width:1135px) {
                        margin-right: 16px;
                    }
                    @media (max-width:440px) {
                        font-size: 15px;
                    }
                }
            }
            .b2:hover {
                cursor: pointer;
            }
        }

      }
      .photo {
        position: relative;
        max-width: 638px;
        width: 100%;
        height: 362px;
        object-fit: cover;
      }
    }
}